<%include ./partials/header %>

<% blogs.forEach( (el)=> { %>
<div>
    <h1 id='te'> <%= el.title %> </h1>
    <img src="<%=el.image %>" alt="">
    <p> <%= el.body %>
    <p> <%= el.created %> </p>
</div>
<% }); %>


<%include ./partials/footer %>