<%include ./partials/header %>

<div CLASS="ui text container segment">
    <div class="ui huge header">
        new Blog
   
        <form class="ui form" action='/blogs' method="POST" >
            <div class="field">
            <label>Title<label>
        <input type="text" name="title" value="" placeholder="title">
        </div>
        <div class="field">
            <label>Image<label>
            <input type="text" name="image" value="" placeholder="image">
        </div>
        <div class="field">
            <label>Blog Content<label>
            <textarea name="body"></textarea>
        </div>
       
        <div class="ui animated button black" tabindex="0" type="submit">
            <div class="visible content">Send</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </div>
        </form>
    </div>
</div>
<%include ./partials/footer %>